h1{
    color: olive;
}
#bd-taka {
    width: 9%;
}
#calculate-section{
    background-color: #F8F8F8;
}
#calculateButton{
    margin-left: 80%;
}
input{
    background-color: #DCDCDC;
    border-color: white;
    border: 0px;
}
#errorCalculationMassage{
    display: none;
    color: red;
    font-weight: 700;
}
#errorMassage{
    display: none;
    color: red;
    font-weight: 700;
}
#errorSavingMassage{
    display: none;
    color: red;
    font-weight: 700;
}